<!-- Describe task in general -->

<p>
    完全数是一个正整数，它等于除去它本身之外的所有被除数之和。例如，28 是一个完全数，因为它的除数是 1、2、4、7 和 14，它们的和是 28。 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}perfect-num.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>逻辑值 <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>如何使用：</strong>
    <i>完全数在数论中具有重要的历史意义，在各种数学和神秘学中都有研究。这个函数在数学研究、密码学或一般问题的解决中都很有用。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i>1 &lt;= n &lt;=<sup>108</sup></i></li>
    </ul>
</p>
