<!-- Describe task in general -->

<p>
    Досконале число - це натуральне число, яке дорівнює сумі своїх правильних дільників, за винятком самого себе. Наприклад, 28 є досконалим числом, оскільки його дільниками є 1, 2, 4, 7 і 14, а їх сума дорівнює 28. 
</p>

<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Логічне значення <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Як використовується:</strong>
    <i>досконалі числа мають історичне значення в теорії чисел і вивчалися в різних математичних і містичних контекстах. Ця функція може бути корисною у математичних дослідженнях, криптографії або просто при розв'язуванні загальних задач.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Умова:</strong>
    <ul>
    <li><i>1 &lt;= n &lt;=<sup>108</sup> </i></li>
    </ul>
</p>
