<!-- Describe task in general -->

<p>
    Un nombre parfait est un nombre entier positif qui est égal à la somme de ses diviseurs propres, à l'exclusion de lui-même. Par exemple, 28 est un nombre parfait car ses diviseurs sont 1, 2, 4, 7 et 14, et leur somme est 28. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}perfect-num.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Valeur logique <span>(bool{% if is_js %}ean{% endif %})</span>. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">
    <strong>Comment l'utiliser:</strong>
    <i>les nombres parfaits ont une importance historique dans la théorie des nombres et ont été étudiés dans divers contextes mathématiques et mystiques. Cette fonction pourrait être utile dans la recherche mathématique, la cryptographie ou la résolution de problèmes en général.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i>1 &lt;= n &lt;= 10<sup>8</sup></i></li>
    </ul>
</p>
